{% load static %}
<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Django Girls blog</title>
    </head>
    <body>
		<div>
			<h1><a href="/">Django Girls Blog</a></h1>
		</div>
		
		<div>
			for post in posts add
		</div>

		{% for post in posts %}
			<div>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>published: {{ post.published_date }}</p>
				<p/>
				<p>{{ post.text|linebreaksbr }}</p>
				<p/><p/><p/>
			</div>
		{% endfor %}
    </body>
</html>